src/conf/xml-resources/web-service-references/WSOperaciones/wsdl/localhost_8080/ServicioWeb_SOAP/WSOperaciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="getProductosByClaveValor" type="tns:getProductosByClaveValor"/>

<xs:element name="getProductosByClaveValorResponse" type="tns:getProductosByClaveValorResponse"/>

<xs:element name="setProducto" type="tns:setProducto"/>

<xs:element name="setProductoResponse" type="tns:setProductoResponse"/>

<xs:complexType name="getProductosByClaveValor">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductosByClaveValorResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="proveedor" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setProducto">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="stock" type="xs:int"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="proveedor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>