web/WEB-INF/wsdl/localhost_8080/ServicioWeb_SOAP/WSOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServicioWeb_SOAP/WSOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="getCuenta">
<part name="parameters" element="tns:getCuenta"/>
</message>
<message name="getCuentaResponse">
<part name="parameters" element="tns:getCuentaResponse"/>
</message>
<message name="updateUsuario">
<part name="parameters" element="tns:updateUsuario"/>
</message>
<message name="updateUsuarioResponse">
<part name="parameters" element="tns:updateUsuarioResponse"/>
</message>
<message name="addCuenta">
<part name="parameters" element="tns:addCuenta"/>
</message>
<message name="addCuentaResponse">
<part name="parameters" element="tns:addCuentaResponse"/>
</message>
<portType name="WSOperaciones">
<operation name="getCuenta">
<input wsam:Action="http://ws/WSOperaciones/getCuentaRequest" message="tns:getCuenta"/>
<output wsam:Action="http://ws/WSOperaciones/getCuentaResponse" message="tns:getCuentaResponse"/>
</operation>
<operation name="updateUsuario">
<input wsam:Action="http://ws/WSOperaciones/updateUsuarioRequest" message="tns:updateUsuario"/>
<output wsam:Action="http://ws/WSOperaciones/updateUsuarioResponse" message="tns:updateUsuarioResponse"/>
</operation>
<operation name="addCuenta">
<input wsam:Action="http://ws/WSOperaciones/addCuentaRequest" message="tns:addCuenta"/>
<output wsam:Action="http://ws/WSOperaciones/addCuentaResponse" message="tns:addCuentaResponse"/>
</operation>
</portType>
<binding name="WSOperacionesPortBinding" type="tns:WSOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSOperaciones">
<port name="WSOperacionesPort" binding="tns:WSOperacionesPortBinding">
<soap:address location="http://localhost:8080/ServicioWeb_SOAP/WSOperaciones"/>
</port>
</service>
</definitions>